
/*importing the font from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');

/* setting the font, alignment and text shadow of text for the homepage */
body {
  font-family: "Signika", sans-serif;
  text-align: center;
}

h1 {
  font-size: 3.5rem;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px #0b4404;
}

h3 {
  font-size: 2.5rem;
  color: rgb(255, 255, 255);
  text-shadow: 2px 2px 4px #0b4404;
}


/* setting the positions of animal stickers on the homepage*/
#platypus_stick {
  position: absolute;
  top: 20%;
  left: 5%;
}

#quokka_stick {
  position: absolute;
  top: 18%;
  right: 9%;
}

#kakapo_stick {
  position: absolute;
  bottom: 10%;
  right: 7%;
}

#red_panda_stick {
  position: absolute;
  bottom: 10%;
  left: 5%;
}


/* setting the font for the buttons to each animal page */
#platypus_butt {
  font-family: "Signika", sans-serif;
}

#quokka_butt {
  font-family: "Signika", sans-serif;
}

#kakapo_butt {
  font-family: "Signika", sans-serif;
} 

#red_panda_butt {
  font-family: "Signika", sans-serif;
} 