@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');
body {
  font-family: "Signika", sans-serif;
  background-color: rgb(238, 172, 161);
  text-align: center;
}
